/* wrapper

container

overflow

box

btn

feature 20%

80%
canvas real

canvas draft

style 100%

*/

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    /* font */
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* feature section */

.feature-wrapper {
    border: 1px black solid;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: column;
    background-color: #efefef;
    padding: 20px;
}

.feature-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    height: 100%;
}

.feature-overflow {
    overflow-y: auto;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 5px;
}

/* canvas section */

.canvas-wrapper {
    position: absolute;
}

/* canvas overlap */

canvas {
    border: 1px black solid;
    position: absolute;
    top: 0;
}

/* style section */

.style-wrapper {
    border: 1px black solid;
    clear: both;
    background-color: #efefef;
    padding: 20px;
}

.style-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.style-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 10px;
}